{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Create Listing</h3>
    <!-- Figure out how to pass listing.id with form -->
    {% if user.is_authenticated %}
        Signed in as <strong>{{ user.username }}</strong>.
    {% else %}

    {% endif %}
    <form action="{% url 'add_listing' user.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="image" placeholder="Image URL">
        </div>
        <input type="hidden" name="num_bids" value="0">
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}
